.Container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 100vh;
}
.Container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(0, 64, 255);
    color: aliceblue;
    gap: 10px;
    border-radius: 7px;
    padding:10px 5px;
}
.Container form button {
    padding: 15px 30px;
    margin: 0;
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    background-color: hsl(240, 69%, 16%);
    color: white;
    font-size: medium;
}
.Container form input, .Container form textarea {
    max-width: 98%;
}
.submit-button{
    display: flex;
    width: 100%;
    justify-content: center;
}